name: Scheduled Cron Job

on:
  workflow_dispatch:

jobs:

  check_previous_runs:
    runs-on: ubuntu-latest

    steps:
      - name: Cancel Previous Runs
        run: |
          response=$(curl \
            -X GET \
            -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
            -H "Accept: application/vnd.github.v3+json" \
            "https://api.github.com/repos/divineod/Polling-bot/actions/workflows/Scheduled%20Cron%20Job/runs?status=in_progress")

          run_ids=$(echo $response | jq '.workflow_runs[] | select(.head_sha != "${{ github.sha }}") | .id')

          for run_id in $run_ids
          do
            curl \
              -X POST \
              -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
              -H "Accept: application/vnd.github.v3+json" \
              "https://api.github.com/repos/${{ github.repository }}/actions/runs/$run_id/cancel"
          done

  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.13.0]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Setup Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install dependencies
      run: npm install

    - name: Run cron function
      run:
        node dist/cronexecutor.js
      env:
        TELEGRAM_BOT_ACCESS_TOKEN: ${{ secrets.TELEGRAM_BOT_ACCESS_TOKEN }}
        GOOGLE_CREDENTIALS: ${{ secrets.GOOGLE_CREDENTIALS }}
